window#osd {
  background-color: rgba(30, 30, 50, 0.1);

  label {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
}

window#osd label {
  font-size: 16px;
}

